<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="zcordova-plugin-archtrim" version="1.0.1">
    <name>ArchTrimPlugin</name>
    <description>ArchTrimPlugin</description>
    <license></license>
    <keywords>cordova,arch</keywords>

    <platform name="ios">
        <hook type="after_platform_add" src="runscript.js" />
    </platform>
</plugin>
